:root {
    --bg-pny: #37517E;
    --text-blue: #37517E
}

nav {
    background-color: var(--bg-pny);
}

nav a {
    color: black !important;
}

.front {
    background-color: var(--bg-pny);
}

.my-img {
    animation: image 1.5s linear infinite alternate;
}


.list {
    z-index: 2222 !important;
}

.my-ul {
    z-index: -1111;
    position: relative;
}

.child {
    transform: translateX(90%);
    opacity: 0;
    transition: all 0.8s;
    z-index: -11111111 !important;

}

.list:hover .child {
    transform: translateX(100%);
    opacity: 1;
}


.gray-line {
    width: 15%;
    height: 2px;
    background-color: gray;
}


.blue-line {
    height: 4px;
    width: 40%;
    background-color: var(--bs-info);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes image {
    from {
        transform: translateY(0)
    }

    to {
        transform: translateY(-30px)
    }
}




.my-image {
    filter: grayscale(100%)
}

.my-image:hover {
    transition: all 0.9s;
    filter: grayscale(0);
    scale: 1.1;
}


.my-h1 {
    color: var(--text-blue);
}

.progress-bar {
    background-color: var(--bg-pny) !important;
}


@media only screen and (max-width:988px) {
    .btns {
        justify-content: center !important;
    }

    .my-img {
        animation-play-state: paused;
        width: 60% !important;
    }


}